*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
}
.wrapper{
    height: 100vh;
    width: 100%;
    background-color: #000000;
}
.nav{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.bgcolorf{
    background-color: #646161d4;
}
.distanziare{
    padding: 10px;
}
.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 70%;
    height: 85vh;
    overflow-y:scroll;
    padding: 10px;
}
.recipiente{
    height: 10vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #383535d6;
    text-align: center;
}
main img{
    width: 100%;
}
.card{
    position: relative;
    cursor: pointer;
    width: calc(100% / 7);
}
.name{
    position: absolute;
    padding: 2px;
    text-align: left;
    bottom: 10px;
    padding-right: 5px;
    background-color: rgba(152, 150, 150, 0.825);
}
.microfono{
    width: 18px;
}
.vocale{
   display: flex;
}
.icone{
    width: 30px;
}
.icone2{
    width: 42px;
    padding: 4px;
}
.icone3{
    width: 36px;
    padding: 6px;
}
.icone4{
    width: 36px;
    padding: 5px;
}
.icone5{
    width: 15px;
}
p{
    padding-right: 15px;
}
.bcgfin{
    background-color: #827f7fd6;
    color: red;
    padding: 20px;
}